@media only screen and (max-device-width: 450px) {
  body {
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    color: #010400;
  }

  h1 {
    font-size: 40px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  h4 {
    font-size: 32px;
    color: #7c7c7c;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }

  p {
    font-size: 36px;
    font-weight: 500;
    color: #7c7c7c;
    margin: 0px;
    padding: 0px;
  }

  label {
    width: 100%;
    font-size: 32px;
    font-weight: 500;
  }

  a {
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }

  button {
    background-color: #5936cd;
    height: 86px;
    width: 432px;
    border-radius: 12px;
    color: #f4f4f9;
    font-weight: bold;
    font-size: 16px;
    border-color: #12437c;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
  }

  button.small {
    border-width: 2px;
    border-color: #5936cd;
    border-style: solid;
    background-color: #ffffff;
    color: #010400;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    height: 36px;
    width: 90px;
  }

  input {
    width: 100%;
    height: 88px;
    border-color: #5936cd;
    border-width: 1px;
    border-style: solid;
    border-radius: 38px;
    background-color: transparent;
    font-weight: 400;
    color: #010400;
    font-size: 30px;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 5px;
  }

  select {
    width: 100%;
    height: 48px;
    border-color: #5936cd;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    background-color: transparent;
    font-weight: 400;
    color: #010400;
    font-size: 36px;
    padding: 6px;
    box-sizing: border-box;
  }

  .full-width {
    width: 100%;
  }

  .text-center {
    text-align: left;
  }

  .text-left {
    text-align: center;
    font-size: 32px;
    padding: 1px;
  }

  .mt {
    margin-top: 16px;
    text-align: center;
    font-size: 30px;
    padding: 1px;
  }

  .mt.larger {
    margin-top: 2px;
  }

  .mt.large {
    margin-top: 34px;
  }

  .mt.small {
    margin-top: 17px;
    text-align: left;
  }

  .mt.smaller {
    margin-top: 10px;
  }

  .logo {
    width: 508px;
    height: auto;
  }

  .auth-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5936cd;
  }

  .auth-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 680px;
    height: auto;
    min-height: 40px;
    border-radius: 24px;
    background-color: #fffdfd;
  }

  .auth-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
  }
}
